<!DOCTYPE html>
<html>

<body style="font-family: Helvetica, Arial, sans-serif; color: black; margin: 0; padding: 0;">
  <% const productQuantity=items.length; let quantityPrefix; if (productQuantity===1) quantityPrefix="TOWAR" ; else if
    (productQuantity> 4)
    quantityPrefix = "TOWARÓW";
    else
    quantityPrefix = "TOWARY";
    %>
    <% const totalSum=items.reduce((total, item)=> { return total +
      (parseFloat(item.priceEn) || 0); }, 0); %>
      <% let devDelivery; if (user.deliveryMethod==="storePickup" ) { devDelivery="Odbiór osobisty" } else {
        devDelivery="Pocztą" } let devAdres; if (user.deliveryMethod==="storePickup" && user.showroom==="kyiv" ) {
        devAdres="salon Kijów" ; } else if (user.deliveryMethod==="storePickup" ) { devAdres="salon Warszawa" } if
        (user.deliveryMethod==="homeDelivery" && user.country==="ukraine" && user.typeDelivery==="adress delivery" ) {
        devAdres=user.adressDelivery.city + ", " + user.adressDelivery.street + " " + user.adressDelivery.building
        + ", " + user.adressDelivery.appartment } else if (user.deliveryMethod==="homeDelivery" &&
        user.country==="ukraine" ) { devAdres=user.postDepartament.city + ", " + user.postDepartament.departamentNumber
        } if (user.deliveryMethod==="homeDelivery" && user.country==="otherCountry" &&
        user.typeDelivery==="adress delivery" ) { devAdres=user.adressDelivery.country + ", " + user.adressDelivery.city
        + ", " + user.adressDelivery.street + " " + user.adressDelivery.building + ", " + user.adressDelivery.appartment
        + ", " + user.adressDelivery.index; } else if (user.deliveryMethod==="homeDelivery" &&
        user.country==="otherCountry" ) { devAdres=user.postDepartament.country + " , " + user.postDepartament.city
        + ", " + user.postDepartament.departamentNumber + ", " + user.postDepartament.index; } %>
        <table align="center" cellpadding="0" cellspacing="0"
          style="border-collapse: collapse; width: 90%; max-width: 700px; margin: 0 auto; padding: 40px 30px 12px;">
          <tr>
            <td align="center">
              <div style="padding-top: 48px; width: 120px; height: 103px; margin: 0 auto; margin-bottom: 48px;">
                <img style="width: 100%; height: 100%; object-fit: cover;"
                  src="https://firebasestorage.googleapis.com/v0/b/gots-label.appspot.com/o/mail%2Fbig-logo.png?alt=media&token=4e74aada-8f81-4311-bb78-67b0d6bc2b89"
                  alt="gotsLogo" />
              </div>
            </td>
          </tr>
          <tr>
            <td style="font-size: 14px; margin-bottom: 40px;">
              <p style="font-size: 14px; margin-bottom: 8px;">Dziękujemy, że wybraliście GOT'S LABEL!
              </p>
              <p style="font-size: 14px; margin-bottom: 8px;">Twoje zamówienie zostało pomyślnie przyjęte, wkrótce
                skontaktujemy się z Tobą w celu potwierdzenia szczegółów i przekażemy numer AWB do śledzenia przesyłki.
              </p>
              <p style="font-size: 14px; margin-bottom: 8px;">Status dostawy będzie można sprawdzić na stronie
                przewoźnika za pomocą numeru AWB.</p>
              <p style="font-size: 14px; margin-bottom: 8px;">Jeśli masz jakiekolwiek pytania lub chciałbyś dokonać
                zmian w zamówieniu, skontaktuj się z naszym działem obsługi klienta pod numerem <a
                  href="tel:+380990399999" target="_blank" style="text-decoration: underline; color: black;">+38 (099)
                  039 99
                  99</a> lub napisz do nas na Instagramie: <a href="https://www.instagram.com/gots.label/"
                  target="_blank" style="text-decoration: underline; color: black;">@gots.label</a></p>
            </td>
          </tr>
          <tr>
            <td style="font-weight: 700; font-size: 12px; padding-bottom: 10px; padding-top: 40px;">
              <%= productQuantity + " " + quantityPrefix %>
            </td>
          </tr>
          <tr>
            <td>
              <table
                style="border-top: 1px solid black; border-bottom: 1px solid black; margin-bottom: 14px; width: 100%;">
                <% items.forEach(function(item, index) { %>
                  <tr style="padding: 22px 0; 
                        display: flex; 
                        <%= index === 0 ? '' : 'border-top: 1px solid #808080;' %>">
                    <td style="width: 120px; height: 150px;">
                      <img style="width: 100%; height: 100%; object-fit: cover;" src="<%= item.img[0] %>"
                        alt="<%= item.h1ua %>" />
                    </td>
                    <td style="margin-left: 24px; position: relative; width: 65%;">
                      <p
                        style="text-transform: uppercase; font-weight: 700; font-size: 14px; line-height: 150%; margin-top: 0;">
                        <%= item.titlePl %>
                      </p>
                      <div style="display: flex; color: #00000099; text-transform: uppercase;">
                        <span style=" font-size: 10px;">kolor: <%= item.color %></span>
                      </div>
                      <p style="font-size: 14px; margin-bottom: 10px;">
                        <%= item.priceEn %> EUR
                      </p>
                    </td>
                  </tr>
                  <% }) %>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <div style="display: flex; margin-top: 14px; margin-bottom: 64px;">
                <div style="font-size: 17px; font-weight: 700; text-transform: uppercase;">Łącznie</div>
                <div style="font-size: 16px; font-weight: 700; margin-left: auto;">
                  <%= totalSum.toFixed(2) %> EUR
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td style="margin-top: 40px;">
              <p style="font-size: 14px; text-transform: uppercase;"><strong>Informacje o odbiorcy</strong></p>
              <p style="border-top: 1px solid black; padding-top: 22px; font-size: 12px;"><span
                  style="color: #808080; padding-right: 15px; text-transform: uppercase;">Imię i nazwisko: </span>
                <%= user.firstName + ' ' + user.secondName %>
              </p>
              <p style="border-bottom: 1px solid black; padding-bottom: 22px; font-size: 12px;"><span
                  style="color: #808080 !important; padding-right: 15px; text-transform: uppercase;">Telefon: </span>
                <%= user.phone %>
              </p>
            </td>
          </tr>
          <tr>
            <td style="padding-top: 28px;">
              <p style="font-size: 14px; text-transform: uppercase;"><strong>Informacje o dostawie</strong></p>
              <p style="border-top: 1px solid black; padding-top: 22px; font-size: 12px;"><span
                  style="color: #808080; padding-right: 15px; text-decoration: none; text-transform: uppercase;">Dostawa:
                </span>
                <%= devDelivery %>
              </p>
              <p style="border-bottom: 1px solid black; padding-bottom: 22px; font-size: 12px;"><span
                  style="color: #808080; padding-right: 15px; text-transform: uppercase;">Adres: </span>
                <%= devAdres %>
              </p>
            </td>
          </tr>
          <tr>
            <td style="font-size: 12px; padding-top: 64px; padding-bottom: 24px; text-align: center;">
              <p>Ten e-mail został wygenerowany automatycznie. Prosimy, nie odpowiadać na tę wiadomość.</p>
            </td>
          </tr>
          <tr>
            <td style="padding-top: 24px; width: 100%; border-top: 1px solid #808080;">
              <div style="display: flex; width: fit-content; margin: 0 auto 16px;">
                <a href="https://www.instagram.com/gots.label/" style="height: 24px; width: 24px; padding-right: 10px;">
                  <img style="object-fit: contain; width: 100%; height: 100%;"
                    src="https://firebasestorage.googleapis.com/v0/b/gots-label.appspot.com/o/mail%2Finstagram.png?alt=media&token=7a48b074-07e0-422b-a38d-962fd3545948"
                    alt="inst" />
                </a>
                <a href="https://t.me/+380660292069" style="height: 24px; width: 24px; padding-left: 10px;">
                  <img style="object-fit: contain; width: 100%; height: 100%;"
                    src="https://firebasestorage.googleapis.com/v0/b/gots-label.appspot.com/o/mail%2Ftelegram.png?alt=media&token=960d90fa-b3e3-44df-8fd9-8a3e899fb53b"
                    alt="inst" />
                </a>
              </div>
              <p style="font-size: 11px; text-align: center; text-transform: uppercase; padding-top: 8px;">Jeśli masz jakiekolwiek pytania, skontaktuj się z nami</p>
              <p style="font-size: 12px; text-align: center; color: black !important;">gotslabel.sales@gmail.com</p>
            </td>
          </tr>
          <tr>
            <td style="color: #191B1C80; font-size: 11px; text-align: center; padding-top: 56px; padding-bottom: 30px;">© 2024
              GOT's label</td>
          </tr>
        </table>
    </body>
      
</html>